/*
 * colors: white (background), #fff (button FG), #F8F8F8 (panels BG), #F0F0F0 (hovered panels BG), #A0A0A0 (borders), #404040 (font),
 * #935a71 (light purple), #4b2185 (dark purple)
**/


/* common */

html, body {
	padding: 0;
	margin: 0;
	color: #404040;
}

/******************************************************************************/
/* header */
#header-row {
	background-color: #F8F8F8;
	border-bottom: 1px solid #A0A0A0;
	
	padding: 0 2% 0 4%;
	
	display: block;
	height: 8eM;
}

#header-row:hover {
	background-color: #F0F0F0;
}

#logo-header {
	padding: 0;
	margin: 0.8eM 0 0.2eM;
	height: 6eM;
	float: left;
}
/*
#logo-image {
	padding: 0;
	margin: 0;
}
*/

#search-form {
	font-size: 100%;
	margin: 2.5eM 4% 1.5eM;
	
	height: 3eM;
	width: 35%;
	
	float: left;
}

#search-form input {
	display: inline-block;
	vertical-align: bottom;
}

#search-form input[type=search] {
	font-size: 200%;
	padding: 0.25eM;

	height: 1.5eM;
	max-width: 75%;
	
	border-radius: 4px;
	border: 1px solid #935a71;
}

#search-form input[type=search]:focus {
	border: 2px solid #4b2185;
}


#search-form input[type=submit] {
	font-size: 100%;
	padding: 1eM 4%;

	
	height: 3eM;
	min-width: 20%;

	font-weight: bold;
	border: none;
	
	/* https://dabuttonfactory.com */
	color:         #fff;
	background:    #935a71;
	background:    -webkit-linear-gradient(#935a71, #4b2185);
	background:    linear-gradient(#935a71, #4b2185);
	border-radius: 2px;
	display:       inline-block;
	text-align:    center;
	text-shadow:   1px 1px 0 #000;
}

#login-panel {
	float: right;
	margin: 3.5eM 0 3.5eM;
}

#login-panel a {
	font-weight: bold;
	color: #4b2185;
	margin: 0 5;
}
/******************************************************************************/
/* body */ 
main {
	width: 70%;
	margin: 0 15%;
}

.panel {
	background-color: #F8F8F8;
	font-size: 120%;
	
	padding: 2eM 5%;
	margin: 2eM 4%;
	
	border: 1px solid #A0A0A0;
	
	-webkit-border-radius: 1%;
	-moz-border-radius: 1%;
	border-radius: 1%;
}

.panel:hover {
		background-color: #F0F0F0;
}

#order-by-panel {
	text-align: right;
	padding: 1eM 0;
}

#results {
	list-style: none;	
	padding: 0;
	margin: 0;
}

/******************************************************************************/
/* item */
.result-item {
	background-color: #F8F8F8;
	
	padding: 0.5eM 2%;
	
	margin: 0.5eM 0;
	border: 1px solid #A0A0A0;
	
	-webkit-border-radius: 1%;
	-moz-border-radius: 1%;
	border-radius: 1%;
}

.result-item:hover {
	background-color: #F0F0F0;
}

.result-item a {
	text-decoration: none;
	color: #404040;
}

.item-image-part {
	float: left;
	margin-right: 2%;
}

.result-item-image {
	float: left;
	width: 8eM;
	padding: 0.5eM 2% 0.5eM 0;
}

.result-item-portal {
	display: block;
	text-align: center;
}

.result-item h3 {
	padding: 0.5eM 0;
	margin: 0;
}

.result-item h3:hover {
	text-decoration: underline;
}

.float-clean {
	display: block;
	clear: both;
}

/******************************************************************************/
/* popups */ 
.popup {
	display: none;
	background-color: #F0F0F0;
	border: 2px solid #4b2185;
	padding: 2eM 4%;
	position: absolute;
	top: 9eM;
	left: 30%;
	width: 40%;
	
	/* http://www.cssmatic.com/border-radius */ 
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	
	/* http://www.cssmatic.com/box-shadow */
	-webkit-box-shadow: 20px 20px 80px 14px rgba(0,0,0,0.75);
	-moz-box-shadow: 20px 20px 80px 14px rgba(0,0,0,0.75);
	box-shadow: 20px 20px 80px 14px rgba(0,0,0,0.75);
}

.popup-shown {
 	display: block;
}


/******************************************************************************/
/* forms */ 

.fieldset input,label {
	padding: 0.5eM 2%;
	margin: 0.2eM 4%;
	min-width: 20%;
	
	display: block;
	float: left;
}

.fieldset label {
	clear: both;
}

.fieldset input[type=text],input[type=password] { 	/* TODO all types */
	padding: 0.5eM 2%;

	border-radius: 4px;
	border: 1px solid #935a71;
}

.fieldset input[type=submit],input[type=reset],input[type=button] {
	padding: 0.5eM 2%;	
	border: none;
	color:         #fff;
	background:    #935a71;
	background:    -webkit-linear-gradient(#935a71, #4b2185);
	background:    linear-gradient(#935a71, #4b2185);
	border-radius: 2px;
	display:       inline-block;
	text-align:    center;
	text-shadow:   1px 1px 0 #000;
}


