<html>
	<head>
		<meta charset="UTF-8">
		<title>Inzertor, or just <%= keyword %></title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel="stylesheet" type="text/css" href="/resources/css/styles.css">
		<script type="text/javascript" src="/resources/js/scripts.js"></script>
	</head>
	<body>
		<h1>Inzerator!</h1>
		
		<form action="form" method="GET" onsubmit="return query();">
			<input type="search" value="" name="keyword" id="keyword">
			<input type="submit" value="Search!">
		</form>
		<hr>
		
		<ul>
			<% items.forEach(function(item){ %>
				<li>
					<h2><%- item.title %><h2>
				</li>
			<% }); %>	
		</ul>
		
	</body>
</html>
		
